<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Частные грузоперевозки | Ростов-на-Дону</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="shortcut icon"  href="favicon.ico">
</head>
<body>
    <div class="loaderArea">
        <div class="load">
          <hr/><hr/><hr/><hr/>
        </div>
    </div>
    <div id="main">
        <header>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="flex flex-top-header">
                            <div class="city">
                               <div class="mrk"><i class="build hidden visible-xs"></i>
                                <span class="hidden-xs">Ваш город:</span></div>
                                <select>
                                  <option selected>Ростов-на-Дону</option>
                                  <option>Краснодар</option>
                                  <option>Новороссийск</option>
                                </select>
                            </div>
                            <nav>
                                <ul>
                                    <li><a href=""><i class="about hidden visible-md visible-sm visible-xs"></i><span class="hidden visible-lg">О магазине</span></a></li>
                                    <li><a href=""><i class="pay hidden visible-md visible-sm visible-xs"></i><span class="hidden visible-lg">Оплата</span></a></li>
                                    <li><a href=""><i class="delivery hidden visible-md visible-sm visible-xs"></i><span class="hidden visible-lg">Доставка</span></a></li>
                                    <li><a href=""><i class="contacts hidden visible-md visible-sm visible-xs" ></i><span class="hidden visible-lg">Контакты</span></a></li>
                                </ul>
                            </nav>
                            <div class="lk">
                                <ul>
                                    <li><button class="search-ico"><span class="hidden-xs">Поиск</span></button></li>
                                    <li><button class="in-ico"><span class="hidden-xs">Войти</span></button></li>
                                    <li><button class="add-ico"><span class="hidden-xs">Регистрация</span></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-menu">
                <div class="container">
                    <div class="row">
                        <div class="flex middle-header-flex">
                            <div class="logotype">
                                <a href="/"><img src="img/logo.svg" alt=""></a>
                            </div>
                            <div class="address">
                                <ul>
                                    <li><a class="ph-ico" href="tel: 8 989 710 30 10">8 989 710 30 10</a></li>
                                    <li>г. Ростов-на-Дону,</li>
                                    <li>пр-кт М.Нагибина, д.17</li>
                                    <li>ТРЦ «Рио», маг. А-23</li>
                                </ul>
                            </div>
                            <div class="backet">
                                <div class="bask">
                                    <img src="img/bag.svg" alt=""><strong class="hidden">25</strong><span>Оформить заказ</span>
                                    <div class="callback">
                                        <div class="btn"><a href=""><button>Обратный звонок</button></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-menu">
                <div class="container">
                    <div class="row">
                        <div class="main-menu">
                           <div id="sandwich" class="">
                                <div class="sw_top"></div>
                                <div class="sw_bottom"></div>
                                <div class="sw_footer"></div>
                            </div>
                            <nav>
                                <ul class="topmenu">
                                    <li><a href="">Главная</a></li>
                                    <li><a href="">Мебель</a></li>
                                    <li><a href="">Свет</a>
                                        <ul class="submenu">
                                            <li><a href="">меню третьего уровня</a></li>
                                            <li><a href="">меню третьего уровня</a></li>
                                            <li><a href="">меню третьего уровня</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Текстиль</a></li>
                                    <li><a href="">Декор</a></li>
                                    <li><a href="">Ароматы</a></li>
                                    <li><a href="">Посуда</a></li>
                                    <li><a href="">Новинки</a></li>
                                    <li><a href="">Акции</a></li>
                                </ul>
                            </nav>
                            
                            
                            <div class="sub__menu">
                                <ul class="">
                                    <li><a href="">Главная</a></li>
                                    <li><a href="">Мебель</a></li>
                                    <li>
                                        <span>Свет</span>
                                        <ul class="subm">
                                            <li><a href="">меню третьего уровня</a></li>
                                            <li><a href="">меню третьего уровня</a></li>
                                            <li><a href="">меню третьего уровня</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Текстиль</a></li>
                                    <li><a href="">Декор</a></li>
                                    <li><a href="">Ароматы</a></li>
                                    <li><a href="">Посуда</a></li>
                                    <li><a href="">Новинки</a></li>
                                    <li><a href="">Акции</a></li>
                                </ul>
                                
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="dots container mt-block">
            <div class="row">
                <ul>
                    <li><a href="">Главная</a></li>
                    <li class="active"><a href="">Карточка товара</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="card-order mt-block">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="photo-product"><img src="img/product.png" alt=""></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="ttl">
                                <h1>Аксессуары для ванной комнаты</h1>
                            </div>
                            <div class="seporate mt-block"></div>
                            <div class="artikle"></div>
                            <div class="cost-order-presence"></div>
                            <div class="select-product"></div>
                            <div class="feature"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="seporate mt-ttl"></div>
                    <article class="mt-block">

                    </article>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="oplet-footer">
                        <div class="col-sm-6 col-md-3">
                            <div class="logo"><a href="/"><img src="img/logo.svg" alt=""></a></div>
                            <div class="rezhim">
                                <p>Режим работы: 11.00-19.00 пн-пт</p>
                                <p>Эл. почта: <a href="mailto:info@lavandadecor.ru">info@lavandadecor.ru</a></p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="ttl">
                                <h3>Адреса магазинов:</h3>
                            </div>
                            <div class="address">
                                <p class="ph"><a href="tel:8 989 710 30 10">8 989 710 30 10</a></p>
                                <p>г. Ростов-на-Дону, пр-кт М.Нагибина, д.17</p>
                                <p>ТРЦ «Рио», маг. А-23</p>
                            </div>
                            <div class="address">
                                <p class="ph"><a href="tel:8 989 710 30 10">8 989 710 30 10</a></p>
                                <p>г. Ростов-на-Дону, пр-кт М.Нагибина, д.17</p>
                                <p>ТРЦ «Рио», маг. А-23</p>
                            </div>
                            <div class="address">
                                <p class="ph"><a href="tel:8 989 710 30 10">8 989 710 30 10</a></p>
                                <p>г. Ростов-на-Дону, пр-кт М.Нагибина, д.17</p>
                                <p>ТРЦ «Рио», маг. А-23</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="ttl">
                                <h3>Информация:</h3>
                            </div>
                            <nav class="f_menu">
                                <ul>
                                    <li><a href="">Подарочные сертификаты</a></li>
                                    <li><a href="">Способы оплаты</a></li>
                                    <li><a href="">Доставка</a></li>
                                    <li><a href="">Политика возврата</a></li>
                                    <li><a href="">О нас</a></li>
                                    <li><a href="">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="ttl">
                                <h3>Личный кабинет:</h3>
                            </div>
                            <nav class="lk_menu">
                                <ul>
                                    <li><a href="">Вход в личный кабинет</a></li>
                                    <li><a href="">Регистрация</a></li>
                                    <li><a href="">Поддержка клиентов</a></li>
                                    <li><a href="">Политика конфиденциальности</a></li>
                                    <li><a href="">Согласие на обработку данных</a></li>
                                    <li><a href="">Юридическо-правовая информация</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oplet">
            <div class="copyright">
                <p>Расчет и цены, представленные на сайте не являются публичной афертой и представлены в ознакомительных целях. Итоговая стоимость зависит от количества и объемов продукции, а также времени и расстояния, затраченного на поставку. Подробности по телефону 8(989) 710-30-10</p>
                <p>Все права защищены. Сайт подготовлен <a target="_blank" href="http://ewal-web.ru">ewal-web.ru</a></p>
                <p>Copyright © 2019</p>
            </div>
        </div>
    </footer>  
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
	<script src="js/custom.js"></script>
    <script>
        $(window).on("load", function() {
          $('.loaderArea').delay(400).fadeOut('slow');
        });
    </script>
</body>
</html>