<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Частные грузоперевозки | Ростов-на-Дону</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon"  href="favicon.ico">
</head>
<body>
    <div class="loaderArea">
        <div class="load">
          <hr/><hr/><hr/><hr/>
        </div>
    </div>
    <header>
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="flex flex-top-header">
                        <div class="city">
                            <span>Ваш город:</span>
                            <select>
                              <option selected>Ростов-на-Дону</option>
                              <option>Краснодар</option>
                              <option>Новороссийск</option>
                            </select>
                        </div>
                        <nav>
                            <ul>
                                <li><a href="">О магазине</a></li>
                                <li><a href="">Оплата</a></li>
                                <li><a href="">Доставка</a></li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </nav>
                        <div class="lk">
                            <ul>
                                <li><button class="search-ico">Поиск</button></li>
                                <li><button class="in-ico">Войти</button></li>
                                <li><button class="add-ico">Регистрация</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="middle-menu">
            <div class="container">
                <div class="row">
                    <div class="flex middle-header-flex">
                        <div class="logotype">
                            <a href="/"><img src="img/logo.svg" alt=""></a>
                        </div>
                        <div class="address">
                            <ul>
                                <li><a class="ph-ico" href="tel: 8 989 710 30 10">8 989 710 30 10</a></li>
                                <li>г. Ростов-на-Дону,</li>
                                <li>пр-кт М.Нагибина, д.17</li>
                                <li>ТРЦ «Рио», маг. А-23</li>
                            </ul>
                        </div>
                        <div class="backet">
                            <div class="bask">
                                <img src="img/bag.svg" alt=""><strong class="hidden">25</strong><span>Оформить заказ</span>
                                <div class="callback">
                                    <a href=""><button>Обратный звонок</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-menu">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="">Главная</a></li>
                                <li><a href="">Мебель</a></li>
                                <li><a href="">Свет</a>
                                    <ul class="submenu">
                                        <li><a href="">меню третьего уровня</a></li>
                                        <li><a href="">меню третьего уровня</a></li>
                                        <li><a href="">меню третьего уровня</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Текстиль</a></li>
                                <li><a href="">Декор</a></li>
                                <li><a href="">Ароматы</a></li>
                                <li><a href="">Посуда</a></li>
                                <li><a href="">Новинки</a></li>
                                <li><a href="">Акции</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    












  
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
	<script src="js/custom.js"></script>
    <script>
        $(window).on("load", function() {
          $('.loaderArea').delay(400).fadeOut('slow');
        });
    </script>
</body>
</html>