$bg-color:#F9F9F9;
$link-color: #3B71B2;
$wt:#fff;
$bk:#000;
$dark:#6F6F6F;
$accent-color: #63065F;
$focus-color: $accent-color;
$fz: 14px;
$h1-fz: 35px;
$h2-fz: 20px;
$h3-fz: 16px;
$h4-fz: 14px;
$h5-fz: 12px;
$h6-fz: 11px;
$btn-color: #189687;
$placeholder-color: #fff;
$bgcolor-form: #0083BA;
$browser-context: 14; // Default
$dir:'../fonts/';


$Pbk: 'ProximaNova-Black';
$Pb: 'ProximaNova-Bold';
$Pl: 'ProximaNova-Light';
$Pli: 'ProximaNova-LightIt';
$P: 'ProximaNova-Regular';
$Pi: 'ProximaNova-RegularIt';
$Pm: 'ProximaNova-Semibold';
$PFN:"Playfair Display";
$PN:"Proxima Nova";
$font-text: $PN;

$normal: normal;
$italic: italic;
$bold: 700;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$mt:70px;    /*margin top for HEADER h1-h6*/
$mb:30px;     /*margin top for BLOCK from header*/